body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: sans-serif;
    margin: 0;
    overflow-y: hidden; /* Prevent scrolling initially */
}

#fullscreen-header {
    height: 100vh;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    background-color: #121212;
    transition: height 0.5s ease-in-out;
}

#scroll-indicator {
    position: absolute;
    bottom: 20px;
    color: #e0e0e0;
    font-size: 1rem;
    transition: opacity 0.5s ease-in-out;
}

#fullscreen-header.shrink #scroll-indicator {
    opacity: 0;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

#fullscreen-header.shrink {
    height: 15vh;
}

#fullscreen-header h1 {
    font-size: 8rem;
    margin: 0;
    transition: font-size 0.5s ease-in-out;
}

#fullscreen-header.shrink h1 {
    font-size: 3rem;
}

#main-content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.construction {
    position: relative;
    padding: 0 100px; /* Add padding to make space for the tape */
}

.construction::before, .construction::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px; /* Swapped width and height */
    height: 120px; /* Swapped width and height */
    background: repeating-linear-gradient(
        135deg, /* Adjusted angle for vertical tape */
        #ffc107,
        #ffc107 10px,
        #121212 10px,
        #121212 20px
    );
    border: 2px solid #ffc107;
    transform: translateY(-50%);
}

.construction::before {
    left: 0;
}

.construction::after {
    right: 0;
}

.construction h2 {
    font-size: 6rem;
    margin: 0;
    letter-spacing: 0.1em;
}

.stay-tuned {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: #e0e0e0;
    text-decoration: none;
}

@media (max-width: 768px) {
    #fullscreen-header h1 {
        font-size: 12vw;
        text-align: center;
    }

    #fullscreen-header.shrink h1 {
        font-size: 8vw;
    }

    .construction h2 {
        font-size: 3rem;
        text-align: center;
    }

    .stay-tuned {
        font-size: 1rem;
        text-align: center;
    }

    .construction {
        padding: 0 50px;
    }

    .construction::before, .construction::after {
        width: 20px;
        height: 80px;
    }
}
